* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  background: linear-gradient(to right, rgba(183, 222, 237, 1) 0%, rgba(33, 180, 226, 1) 0%, rgba(113, 206, 239, 1) 50%, rgba(183, 222, 237, 1) 100%);
  padding: 2rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textarea {
  margin: 1rem;
  width: 20rem;
  height: 5rem;
}

.task-container {
  margin: 1rem;
}

.task-list {
  display: flex;
  flex-direction: column;
}

.remove-task {
  float: right;
  cursor: pointer;
  color: red;
  font-weight: bold;
}
